button.nav-link{
    border-radius: 0;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;

    &:focus{
        outline: none;
    }
    &.active:hover{
        color: white;
    }
    &:active {
        outline: none;
    }
    &.active:focus {
        outline: none;
    }

}
.nav-item {
    margin-right: 0em !important;
}