<div class="container mt-5">
    <div>
        <h2>Thank you for shopping with Laurier! Your order is confirmed.</h2>
        <p class="mb-4">Please allow 2 to 4 working days for order processing. 
            We will let you know as soon as your order has left our warehouse.</p>
        <button *ngIf="order" routerLink="/orders/{{order?.id}}" class="btn btn-outline-primary">View Order</button>
        <button *ngIf="!order" routerLink="/orders" class="btn btn-outline-primary">View Order</button>
    </div>
</div>

